/* .reviews {
  display: flex;
  flex-direction: column;
  text-align: center;
} */

.review{
  box-shadow: 0 10px 4px 0 rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid black;
  max-width: 600px;
  max-height: 800px;
  margin: 20px auto;
  padding: 20px;
  text-align: center;
  font-size: 16px;
}

.reviewInfo{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.reviewAuthor{
  font-family: "Varela Round", sans-serif;
  font-size: 14px;
  color: #20201e;
  line-height: 20px;
  margin-top: 15px;
  margin-right: 10px;
}

.blogReviewTitle{
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 18px;
  font-weight: 600;
  color: rgb(177, 170, 170);
  margin-top: 15px;
  text-decoration: none;
}

.blogReviewContent{
  font-family: 'Times New Roman', Times, serif;
  font-size: 12px;
  color: rgb(177, 170, 170);
  line-height: 20px;
  margin-top: 15px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
.noCommentsMsg {
  font-family: 'Aboreto', sans-serif;
  font-size: 14px;
  color: #b43a3a;
  line-height: 20px;
  margin-top: 15px;
  white-space: nowrap; /* Prevent line wrapping */
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
}

@media (max-width: 768px) {
  .review {
    max-width: 100%; /* Adjusted max-width for better responsiveness */
    margin: 20px 10px; /* Adjusted margin for better spacing */
  }

  .blogReviewTitle {
    font-size: 16px; /* Adjusted font size for mobile screens */
  }

  .blogReviewContent {
    font-size: 12px;
    -webkit-line-clamp: 2; /* Show up to 2 lines of content on mobile */
  }
}