.textArea{
  background-color: #ddd;
  color: #666;
  padding: 1em;
  border-radius: 10px;
  border: 2px solid transparent;
  outline: none;
  font-family: "Varela Round", sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.4;
  width: 500px;
  height: 30px;
  transition: all 0.2s;
}

.textArea:hover{
  cursor: pointer;
  background-color: #eee;
}

.textArea:focus{
  cursor: text;
  color: #333;
  background-color: white;
  border-color: #333;
}